<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20y='.9em'%20font-size='90'%3E🦫%3C/text%3E%3C/svg%3E">
    <link rel="stylesheet" href="/stylesheet/main.css">
    {% for line in page.head_extras %}
      {{ line }}
    {% endfor %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a class="title" href="/">
          <h1>{{ site.title }}</h1>
        </a>
        <nav>
          <p>
            <a href="/">Home</a>
            <a href="{{ site.github.owner_url }}">GitHub</a>
            <a href="https://danonymous.blog">Main Site</a>
            {% if site.logo %}
              <img src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}
          </p>
        </nav>
      </header>
      <section>
        {% if page.display_title %}
          <h1>{{ page.title }}</h1>
        {% endif %}
        {% if page.github_link %}
          <small>
            <a href="{{ page.github_link }}">View project source on GitHub</a>
          </small>
        {% endif %}

        {{ content }}

      </section>
      <footer>
        {% if page.github_link %}
          <p>
            <a href="{{ page.github_link }}">Project source code</a>
          </p>
        {% endif %}
        <p>
          <small>By
            <a href="https://danonymous.blog">Danonymous</a>
          </small>
        </p>
      </footer>
    </div>
  {% comment %} <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script> {% endcomment %}
  </body>

</html>